
.navbar-main{
    padding-right: 50px;
    padding-left: 50px;
    background-color: black;
   
}
.container-nav {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
  
    font-size: 50px;
}

.content {
    font-size: 15px;
    margin-top: auto;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
   

    
}
.fig {
    font-style: oblique;
    color: black;
    
}


.button-ad{
    width: 150px;
    
}



    



@media screen and (max-width: 700px){
    .container-form {
        width: 300px;
        margin-left: 8.5%;
        position: relative;
        bottom: 150px;
    }
    .fig {
        display: none;
    }
    .button-ad{
        display: none;
    }
}

@media screen and (max-width: 844px){
    .container-form {
        width: 320px;
        margin-left: 8.5%;
        position: relative;
        bottom: 150px;
    }
    .fig {
        display: none;
    }
    
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
width: 80%;
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}

}

